    .container {
        margin-top: 10%;
        margin-bottom: 20%;
        margin-left: 10%;
        margin-right: 10%;
        text-align: left;
    }
    
    .square {
        width: 250px;
        height: 250px;
        border: 10px solid yellowgreen;
    }
    
    .name {
        padding-top: 20px;
        font-size: 200%;
        font-weight: 800;
    }
    
    span {
        padding-left: 10px;
        padding-right: 10px;
    }
